* {
		margin: 0;
		padding: 0;
    box-sizing: border-box;
}

body {
  background: #000000;
}

.intro-video {
  position: relative;
  /* display: none; */
  z-index: 2;
  width: 100%;
  height: 100vh;
}

#canvas {
  position: absolute;
  display: none;
  width: 100%;
  height: 90vh;
  top: 50px;
  left: 0;
}